.experience-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70px;
    height: 120px;
}

.experience-label {
    text-align: center;
    font-size: 20px;
    color: var(--experience-title);
    padding-top: 20px;
}
