.app {
    padding-bottom: 100px;
}

.experiences {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 0px 100px 0px 100px;
}

@media only screen and (max-width: 790px) {
    .experiences {
        padding: 0px 25px 0px 25px;
        column-gap: 40px;
        row-gap: 65px;
    }
}
