.styled-button {
    padding: 6px 25px 6px 25px;
    border-radius: 10px;
    transition: 0.4s;
}

.styled-button:hover {
    opacity: 0.8;
    /*border-color: var(--ttt-button-hover-color);*/
}

.styled-button:active {
    transition: 0.15s;
    transform: scale(0.8);
}
